<header>  
    <style>
        #total-batches {
            background-color: #4cb4c7;
        }

        #batches-delivered {
            background-color: #7abecc;
        }

        #batches-pending {
            background-color: #7CD1C0;
        }
    </style>
</header>
<br />
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-batches">
                <div class="card-header">
                    <h5 class="card-title">Total Batches</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="batches-delivered">
                <div class="card-header">
                    <h5 class="card-title">Batches Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="batches-pending">
                <div class="card-header">
                    <h5 class="card-title">Batches Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
</div>